{{- if or (not .Values.secret.db.secretRef) (eq .Values.secret.db.secretRef (printf "%s-db" (include "supabase.fullname" .))) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "supabase.fullname" . }}-db
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secret.db.password }}
  password: {{ .Values.secret.db.password | b64enc | quote }}
  {{- else }}
  password: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
  username: {{ "supabase_admin" | b64enc | quote }}
{{- end }}

{{- if and .Values.analytics.enabled (or (not .Values.secret.analytics.secretRef) (eq .Values.secret.analytics.secretRef (printf "%s-analytics" (include "supabase.fullname" .)))) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "supabase.fullname" . }}-analytics
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secret.analytics.privateApiKey }}
  privateApiKey: {{ .Values.secret.analytics.privateApiKey | b64enc | quote }}
  {{- else }}
  privateApiKey: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
  {{- if .Values.secret.analytics.publicApiKey }}
  publicApiKey: {{ .Values.secret.analytics.publicApiKey | b64enc | quote }}
  {{- else }}
  publicApiKey: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
{{- end }}


{{- if or (not .Values.secret.dashboard.secretRef) (eq .Values.secret.dashboard.secretRef (printf "%s-dashboard" (include "supabase.fullname" .))) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "supabase.fullname" . }}-dashboard
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secret.dashboard.username }}
  username: {{ .Values.secret.dashboard.username | b64enc | quote }}
  {{- else }}
  username: {{ "admin" | b64enc | quote }}
  {{- end }}
  {{- if .Values.secret.dashboard.password }}
  password: {{ .Values.secret.dashboard.password | b64enc | quote }}
  {{- else }}
  password: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
{{- end }}

{{- if and .Values.supavisor.enabled (or (not .Values.secret.pooler.secretRef) (eq .Values.secret.pooler.secretRef (printf "%s-pooler" (include "supabase.fullname" .)))) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "supabase.fullname" . }}-pooler
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secret.pooler.vaultEncKey }}
  vaultEncKey: {{ .Values.secret.pooler.vaultEncKey | b64enc | quote }}
  {{- else }}
  vaultEncKey: {{ randAlphaNum 32 | b64enc | quote }}
  {{- end }}
{{- end }}

{{- if and .Values.realtime.enabled (or (not .Values.secret.realtime.secretRef) (eq .Values.secret.realtime.secretRef (printf "%s-realtime" (include "supabase.fullname" .)))) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "supabase.fullname" . }}-realtime
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secret.realtime.dbEncKey }}
  dbEncKey: {{ .Values.secret.realtime.dbEncKey | b64enc | quote }}
  {{- else }}
  dbEncKey: {{ randAlphaNum 64 | b64enc | quote }}
  {{- end }}
  {{- if .Values.secret.realtime.secretKeyBase }}
  secretKeyBase: {{ .Values.secret.realtime.secretKeyBase | b64enc | quote }}
  {{- else }}
  secretKeyBase: {{ randAlphaNum 64 | b64enc | quote }}
  {{- end }}
{{- end }}

{{- if and .Values.minio.enabled (or (not .Values.secret.s3.secretRef) (eq .Values.secret.s3.secretRef (printf "%s-s3" (include "supabase.fullname" .)))) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "supabase.fullname" . }}-s3
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secret.s3.keyId }}
  keyId: {{ .Values.secret.s3.keyId | b64enc | quote }}
  {{- else }}
  keyId: {{ randAlphaNum 20 | b64enc | quote }}
  {{- end }}
  {{- if .Values.secret.s3.accessKey }}
  accessKey: {{ .Values.secret.s3.accessKey | b64enc | quote }}
  {{- else }}
  accessKey: {{ randAlphaNum 40 | b64enc | quote }}
  {{- end }}
{{- end }}
